#linked_in, .quicklinks {
  text-decoration: underline;
  color: #0077B5
}

#twitter_link, .quicklinks {
  text-decoration: underline;
  color: #00B0ED;
}

#github {
  color: black;
}

a + a {
  margin-left: 10px;
}





.slides {
  display:none;
}

button {
  background-color: transparent;
  border-radius: 0;
  color: white;
  border: 2px solid white;
}


img {
  border:3px solid white;
    cursor:pointer;
}

body, html {
  height : 100%;
  font-family : sans-serif;
}

h1 {
  font-size:100px;
}
  
.bg__bar, .bg__baz, .bg__bazz, .bg__foo  {
    font-size:25px;
    font-family: Droid Sans, Tangerine;
    position : relative;
    height : 90%;
    color:white;
    background-attachment : fixed;
    background-position   : top center;
    background-size       : cover;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  

    
    &:nth-child(1n) {
      box-shadow : inset 0 0 1em #111; 
    }
  }


.bg__bar {
  background-image: url('/images/city2.gif');
}

.bg__foo {
  background-image: url('/images/city2.gif');
  }
     
.bg__baz {
    background-image: url('/images/city1.gif');
  );
}


.bg__bazz {
  height: 100vh;
  background-image: url('/images/city3.gif');
}


#linkLink {
  color:yellow;

};

